# Ignore workdir directory
reana/workdir/

# Ignore copied files
docker-images/docker-madminer-all/code
docker-images/docker-madminer-all/requirements-*.txt

# Ignore any analysis step output folders
**/data
**/logs
**/mg_processes

# Ignore any analysis intermediate files
**/*.tar.gz
**/MG5_debug
**/py.py

# Ignore local software installation (i.e. MadGraph 5)
**/software

# Ignore any macOS files
**/.DS_Store
