[submodule "modules/madminer-workflow-ph"]
	path = modules/madminer-workflow-ph
	url = https://github.com/scailfin/madminer-workflow-ph
	branch = master
[submodule "modules/madminer-workflow-ml"]
	path = modules/madminer-workflow-ml
	url = https://github.com/scailfin/madminer-workflow-ml
	branch = master
