[submodule "madminer-jupyter-env"]
	path = docker-images/docker-madminer-all
	url = https://github.com/irinaespejo/madminer-jupyter-env.git

[submodule "madminer-workflow-ml"]
	path = docker-images/docker-madminer-ml
	url = https://github.com/irinaespejo/madminer-workflow-ml.git

[submodule "madminer-workflow-ph"]
	path = docker-images/docker-madminer-physics
	url = https://github.com/irinaespejo/madminer-workflow-ph.git
